**/node_modules
**/dist
**/build
**/.cache
**/.build
**/cdk.out
**/.pnp
**/.pnp.js
**/coverage
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*